
    
h1,h2,h3,h4 {
    color: #363958;
    font-family: 'Roboto', sans-serif;
}
    
h1 {
    font-size: 3.2em;
    font-weight: bold;

}
    
.logo {
    width: 290px;
}
    
.nav-item {
    margin-left: 2em;
    font-weight: 600;
}

#banner-row{
    margin-top: 70px;
    padding-bottom: 100px;
}
.banner-half{
    place-items: center;
}
.banner-img{
    width: 90%;
}
    
.orange-text {
    color: #FA804C;
}
.banner-paraghaph{
    width: 70%;
    font-weight: 600;
    margin: 25px 0 30px 0;
}

.banner-half{
}
.orange-text{
    color: #FA804C;
}

.buy-now-button{
    background-color: #3D4FF3;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}
a > p{
    position: relative;
    display:inline-block;
    color: white;
}
.cart-logo{
    width: 25px;
    margin-right: 5px;
}
.banner-img{
    padding-left: 30px;
}


.cardfooter{
    padding: 20px;
}
.card{
    border: none;
    border-radius: 20px;
    padding-right: 25px;
    box-shadow: 0 3px 10px 0 lightgray;
}

.card:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgb(127, 172, 109);
    
}
.card img{
    width: 70%;
    margin: 20px auto;
    margin-top: 50px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    color: gray;
    font-size: 14px;
}
.formalShoesStyle{
    margin-top: 50px;
    margin-bottom: 120px;
}
.servicestyle{
    margin-top: 100px;
    margin-bottom: 100px;
}
.serviceimg{
    margin-right: 20px;
}
.servicecard{
    background: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 lightgray;
}
.serviceimgleft{
    padding: 80px;
}
.contectus{
    margin-top: 50px;
    padding: 80px;
    background: rgb(214, 197, 193);
}

    
@media screen and (max-width:991px) {
    body {
        margin: 0px 20px;
    }
    h1{
        font-size: 2.8em;
        font-weight: bold;
    }
    .banner-row{  
        margin-top: 40px;
    }
    .banner-img{     
        width: 100%;
    }
    /* .card-deck{
        display: flex;
        flex-wrap: wrap;
    } */
    .each-card{
        margin-top: 20px;
    }
}
    
@media screen and (max-width:600px) {
    body {
        margin: 0 auto;
    }
    h1{
        font-size: 3em;
        font-weight: bold;
    }
    .logo {
        width: 240px;
    }
    .nav-item {
        margin-left: 0em;
    }
    .banner-row{  
        margin-top: 0px;
    }
    .banner-img{
        margin-top: 50px;
        width: 80%;
    }
}